*{
    margin: 0px;
    padding:0px;
}
.box{
    width: 1300px;
    margin: 0 auto;
}
/*内联元素需要设置display才可以有宽高等属性*/
.btn{
    background: url("top1.png") no-repeat;
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 38px;
    right: 78px;
}
.pMsg{
    position: fixed;
    bottom: 0;
    right: 33px;
}
.btn:hover{
    background: url("top2.png") no-repeat;
}