*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: snow;
}
.container{
    width: 1000px;
    height: 500px;
    margin: 250px auto;
    position: relative;
}
.pic{
    width: 250px;
}
.container img:hover{
    box-shadow: 15px 15px 20px rgba(50,50,50,0.5);
    transform: rotate(0deg) scale(1.50);
   -webkit-transform: rotate(0deg) scale(1.20);
    z-index: 2;
}
.container img{
    padding: 10px 10px 15px;
    background: white;
    border: 1px solid #dddddd;
    border-radius: 20px;
    -webkit-transition: all 0.5s ease-in;
    box-shadow: 2px 2px 3px rgba(50,50,50,0.4);
    position: absolute;
    z-index: 1;
}
.pic1{
    bottom: 540px;
    left:400px;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
}
.pic2{
    left:10px;
    top: 0;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
}
.pic3{
    bottom: 400px;
    left: 700px;
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
}

.pic4{
    bottom: 100px;
    left: 1px;
    transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
}
.pic5{
    bottom: 200px;
    left: 200px;
    transform: rotate(27deg);
    -webkit-transform: rotate(27deg);
}
.pic6{
    bottom: 250px;
    left: 500px;
     transform: rotate(11deg);
     -webkit-transform: rotate(11deg);
 }
.pic7{
    bottom: 220px;
    left: 800px;
    transform: rotate(-11deg);
    -webkit-transform: rotate(-11deg);
}
.pic8{
    bottom: 50px;
    left:10px;
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
}
}
.pic9{
    top: 50px;
    left: 800px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}